.dollar-sign
  %h4.m-0
    1
    %i.fas.fa-dollar-sign
-if !@currency.nil?
  .rate
    =render partial: 'rate', locals: { currency: @currency }
-else
  .rate
    .alert.alert-danger.no-data
      %p.m-0 Нет данных