-unless @previous_currency.nil?
  .previous-forced-time.d-none=@previous_currency.is_forced_by.strftime('%B %d, %Y%l:%M %p')
  .previous-forced-rate.d-none=@previous_currency.rate
=form_for :currency do |form|
  Dollar rate:
  =form.text_field :rate
  Forced by:
  #datetimepicker-rate.input-group.date{"data-target-input": "nearest"}
    =form.text_field :is_forced_by, class: "form-control datetimepicker-input", data: {target:"#datetimepicker-rate"}
    .input-group-append{"data-target": "#datetimepicker-rate", "data-toggle": "datetimepicker"}
      .input-group-text
        %i.fas.fa-calendar-plus
  =form.submit 'Create'